* {
    box-sizing: border-box;
  }

body {
  background-image: linear-gradient(to right, gray , rgb(31, 31, 31));
  padding: 25px;
  font-family: 'Space Mono', monospace;
  color: white;
}

a {
  color: white;
}
  
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px;
  background-image: linear-gradient(to left, rgb(75, 75, 75), rgb(20, 20, 20));
  border-radius: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}
  
.column-66 {
  float: right;
  width: 66.66666%;
  padding: 20px 20px 20px 40px;
}

nav {
  text-align: center;
}

nav a {
  display: inline-block;
  margin: 0 0 20px;
  padding: 10px;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: rgb(37, 37, 37);
}

nav a:hover {
  background-color: black;
  color: white;
}

nav a:active {
  background-color: rgb(37, 37, 37);
  color: white;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.myname {
  width: 100%;
  margin: 5px 0;
  padding: 0 10px;
  background-color: rgb(75, 75, 75);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.myjob {
  width: 100%;
  padding: 0 10px;
  background-color: rgb(58, 58, 58);
  color: white;
  border-radius: 5px;
  text-align: center;
}

.column-33 h4 {
  margin: 50px 0 0;
}

.contact {
  margin: 25px 0 0;
}

.contact_text {
  margin: 15px 0;
}

.contact img {
  width: 10%;
  margin: 0 15px 0px 0;
  vertical-align: middle;
}

section {
  margin: 30px 0 50px;
}

section h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}

section dt {
  text-transform: uppercase;
  margin: 10px 0 0;
}

#websites img {
  width: 29%;
  margin: 5px;
  opacity: 0.7;
  border: 2px dashed white;
  border-radius: 5px;
}

#websites img:hover {
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 32px;
  }

  .column-66,
  .column-33 {
    width: 100%;
    padding: 20px;
  }

  .column-33 {
    text-align: center;
  }
  
  .myname {
    width: 50%;
    margin: 5px auto;
  }

  .myjob {
    width: 60%;
    margin: 30px auto;
  }

  .contact {
    margin: 25px 0 0;
  }

  .contact img {
    width: 4%;
    margin: 0 15px 0px 0;
    vertical-align: middle;
  }
}

  
@media screen and (max-width: 600px) {
  .container {
    padding: 10px 0;
  }

  .column-66,
  .column-33 {
    width: 100%;
  }

  .column-33 {
    text-align: center;
  }
  
  .myname {
    width: 100%;
    margin: 5px 0;
  }

  .myjob {
    width: 100%;
    margin: 30px 0 0;
  }

  .column-33 h4 {
    margin: 30px 0 0;
  }
}

@media screen and (max-width: 500px) {
  #websites img {
    width: 100%;
    margin: 5px;
    opacity: 0.7;
    border: 2px dashed white;
    border-radius: 5px;
  }

}